<div class="form-row">  
    <custom-input [name]="place_holder_total_word_view"></custom-input>
    <custom-input [name]="place_holder_length_word"></custom-input>
</div>
<div class="form-group"> 
    <div class="form-group"> 
      <custom-button [name]="rabbit_call_word_count_example_spring" (click_event)="countWordSpringRabbitMQ()"></custom-button>
      <custom-button [name]="word_count_example_grpc" (click_event)="countWordgRPC()"></custom-button> 
      <custom-button [name]="rabbit_call_word_count_example_net_core_api" (click_event)="countWordNetCoreRabbitMQ()"></custom-button>
    </div>  
  <div class="container">
    <div class="text-center">
      <custom-text-area [name]="place_holder_result"></custom-text-area>
    </div> 
  </div>
</div>